html, body {
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 0 0.3em 0;
}

p {
  color: #888;
  margin: 0 0 1em 0;
}

.flexbox-container {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex: 1;
}

.collection-input {
    flex: 0 0 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.console-output {
    flex: 0 0 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#console {
    clear: left;
    min-height: 42px;
    color: #f1f1f1;
    font-size: 12px;
    line-height: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #222;
    counter-reset: line-numbering;
    margin-top: 0;
    flex: 1;
    overflow: scroll;
    user-select: text;
    -webkit-user-select: text;
}

#collectionholder {
    flex: 1;
}

.buttons {
    flex: 0 0 50px;
    padding-bottom: 20px;
    display: flex;
}

.inputs {
    flex: 0 0 50px;
    padding-bottom: 20px;
    display: flex;
}

label {
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle;
}

.separator {
    padding: 3px;
    border-right:1px solid #16222c;
}
